<template>
  <section class="section blog">
    <div class="container">
      <div class="content">
        <h1 class="title is-spaced">{{ post.title }}</h1>
        <p class="subtitle">{{ post.description }}</p>
        <p class="subtitle">Written by {{ post.author.firstName }} {{ post.author.lastName }} - {{ post.dateFormatted }}</p>
        {{#if post.extra.editor}}
        <p class="subtitle">Edited by {{ post.extra.editor.firstName }} {{ post.extra.editor.lastName }}</p>
        {{/if}}
        <hr>
        <div class="body">
          {{{ content }}}
        </div>
      </div>
    </div>
  </section>
</template>
